@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { @apply bg-gray-50 text-gray-900; }
